.button {
    border: 1px solid var(--color-border-dark);
    background: var(--color-bg-btn-dark);

    color: var(--color-txt-dark);

    width: 100px;
    height: 30px;

    transition: 0.2s;
}

.button:hover {
    background: var(--color-bg-btn-hover-dark);
    border: 1px solid var(--color-border-hover);
}

.button:focus {
    outline: none;
}
