.dialog {
    width: 100px;

    color: var(--color-txt-dark);
    text-decoration: none;

    padding: 5px 10px;
    margin: 0 auto;

    cursor: pointer;
    transition: 0.2s;
}

.dialog.active {
    background-color: var(--color-bg-select-dark);
    color: var(--color-txt-active-dark);
}

.dialog:hover {
    background-color: var(--color-bg-select-dark);
}
