.profileMainInfo {
    display: flex;
    height: max-content;
    width: 100%;
    padding: 0 0 10px;
    font-size: 1.2em;
}

.profileAvatar {
    height: 100%;
    width: max-content;
}

.profileStatus {
    padding: 0 10px;
    flex-grow: 1;
}

.profileId {
    font-size: 4em;
}

.profileName {
    font-size: 2em;
    font-weight: bold;
    color: darkslateblue;
}

.profileDesc {

}

.selectImgBtn > input {
    display: none;
}

.selectImgBtn > span {
    display: block;
    background-color: darkslateblue;
    color: white;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.selectImgBtn > span:hover {
    background-color: #39306c;
}
