.usersWrap {
}

.user {
    display: flex;

    padding: 10px;
    margin: 10px 0;

    height: 100px;

    border: 1px solid var(--color-border-dark);

    transition: var(--transition);
}

.user:first-child {
    margin-top: 0;
}

.user:last-child {
    margin-bottom: 0;
}

.user, .user > a {
    text-decoration: none;
}

.user:hover > .userInfo {
    color: var(--color-txt-active-dark);
}

.user:hover {
    background-color: var(--color-bg-input-dark);
    border-color: var(--color-border-hover);
}

.userAvatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: max-content;
}

.avatarImage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    height: 2em;

    border: 1px solid var(--color-border-dark);
    color: var(--color-txt-dark);
    font-size: 2rem;
    overflow: hidden;
}

.avatarImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.avatarButton {
    width: 100%;
    height: 20px;
    border: none;
    background: var(--color-bg-btn-dark);
    color: var(--color-txt-dark);
}

.avatarButton:focus {
    outline-color: var(--color-border-hover);
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    height: 100%;
    width: 50%;

    margin-left: 10px;
    padding: 10px;

    border-radius: var(--radius-border);
    color: var(--color-txt-dark);

    transition: var(--transition);
}

.infoName {
    font-size: 1.5rem;
}

.infoStatus {
}
