.inputWrap {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.textarea {
    margin-right: 30px;

    max-width: 590px;
    width: 82%;
    height: 100px;
}

.textarea textarea {
    padding: 2px 5px;
    resize: vertical;
}
