.inputWrap {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.textarea {
    margin-right: 30px;

    width: 500px;
    height: 100px;
}

.textarea textarea {
    padding: 2px 5px;
    resize: none;
}
