.nav {
    grid-area: n;

    display: flex;
    flex-direction: column;

    background-color: darkslateblue;

    border-radius: 5px;
    padding: 10px;
}

.item {
    text-decoration: none;
    color: white;

    padding: 5px 10px;
    transition: 0.2s;
}

.item:hover {
    background-color: #39306c;
}

.active {
    background-color: #39306c;
}
