.pagination {
    position: sticky;
    bottom: 0;

    width: 100%;
    height: max-content;

    z-index: 1;
}

.paginationWrap {
    display: flex;
    align-items: center;

    margin: 0 auto;
    width: max-content;
    height: max-content;

    color: white;
    background-color: var(--color-bg-input-dark);
    border-radius: 100px;
}

.paginationWrap span {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    width: 50px;
    height: 50px;

    border-radius: 100px;

    cursor: pointer;
    transition: 0.2s;
}

.paginationWrap span:hover {
    background-color: var(--color-bg-btn-hover-dark);
}

.paginationActive {
    border: 1px solid var(--color-border-hover);
}
