.pagination {
    position: sticky;
    bottom: 30px;

    width: 100%;
    height: max-content;

    z-index: 1;
}

.paginationWrap {
    display: flex;
    align-items: center;

    margin: 0 auto;
    width: max-content;
    height: max-content;

    color: white;
    background-color: rgba(72, 61, 139, 0.7);
    border-radius: 100px;
}

.paginationWrap span {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    width: 50px;
    height: 50px;

    border-radius: 100px;

    cursor: pointer;
    transition: 0.2s;
}

.paginationWrap span:hover {
    background-color: rgba(57, 48, 108, 0.9);
}

.paginationActive {
    background-color: rgba(57, 48, 108, 0.6);
}
