.sidebar {
    position: relative;
    /*top: 5px;*/
    display: flex;
    flex-direction: column;
    width: 25%;
    height: max-content;
    min-width: 200px;
    margin: 0 5px 0 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        position: absolute;
        top: -100vh;
        left: 0;

        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        padding: 20px;
        width: 100vw;
        height: 100vh;

        overflow-x: scroll;

        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        animation-name: sidebar-appear;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-direction: alternate;

        z-index: 100;
    }

    .sidebar[data-show="true"] {
        display: flex;
        /*top: 0;*/
    }
}

@keyframes sidebar-appear {
    from {
        top: -100vh;
        backdrop-filter: blur(0);
    }
    to {
        top: 0;
        backdrop-filter: blur(5px);
    }
}
