.post {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin: 10px 0;

    background: var(--color-bg-select-dark);
    color: var(--color-txt-dark);
    /*overflow: ;*/
}

.post p {
    max-width: 100%;
    margin: 0;
    overflow-wrap: anywhere;
}

.likes {
    margin-left: 20px;
}

.likes small {
    margin-right: 5px;
}
