.formTitle {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > .field {
    margin: 5px 0;
    width: 400px;
}

.error {
    background-color: red;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.captcha {
    display: flex;
    align-items: center;
    margin: 10px;
}

.rememberMe {
    display: flex;
    align-items: center;
}

.rememberMe > p {
    margin-left: 10px;
}
